// colours
$bridal-heath: #fffbf4;
$white: #ffffff;
$black: #000000;
$boulder: #797979;
$sunshade: #ffaa29;
$sea-shell: #f1f1f1;
$alabaster: #fafafa;
$alabaster-1: #fcfcfc;
$scorpion: #5c5c5c;
$alto: #dbdbdb;
$alto-1: #d9d9d9;
$dove-gray: #6c6c6c;
$mercury: #e6e6e6;

$gray: #818181;
$gray-1: #898989;
$cod-gray: #0d0d0d;
$cod-gray-1: #0a0a0a;
$cod-gray-2: #171717;
$cod-gray-3: #1e1e1e;
$cod-gray-4: #0f0f0f;

$gallery: #f0f0f0;
$mine-shaft: #3c3c3c;
$mine-shaft-1: #363636;
$mine-shaft-2: #353535;
$shark: #202124;
$deep-blush: #e78181;

// fonts
$inter: "Inter", sans-serif;
$clash-display: "ClashDisplay";

// ease
$ease: cubic-bezier(0.455, 0.03, 0.515, 0.955);
