%description-16 {
  font-size: 1.4rem;
  line-height: 1.57;
  letter-spacing: -0.07rem;

  @media screen and (min-width: 768px) {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: -0.08rem;
  }
}

%description-15 {

  font-size: 1.4rem;
  letter-spacing: 0.14rem;
  font-weight: 500;
  
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
  }
}

%description-14 {

  font-size: 1.2rem;
  letter-spacing: 0.18rem;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 1.4rem;
    letter-spacing: 0.21rem;
  }
}
